div {
  padding: .5em;
}

main {
  border: .3em;
  border-style: solid;
  border-radius: 5em;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-decoration: underline;
}
